<head>
    <title>Add Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Author" content="W3docs">
    <link rel="stylesheet" type="text/css" href="style.css">
    <h1>Add Customer</h1>
    <form action="">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="EnaimId">Email Id:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="MobileNo">Mobile No:</label>
        <input type="text" id="MobileNo" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>




</head>
