<html>
<title>Sign Up</title>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<script src="js/bootstrap.bundle.js"></script>

<form method="post" asp-controller="home" asp-action="SignUp">
    <label>First Name :</label>
    <input id="Text1" type="text" name="firstName" /><br><br>
    <label>Last Name :</label>
    <input id="Text1" type="text" name="lastName" /><br><br>
    <label>Company Name :</label>
    <input id="Text1" type="text" name="CompanyName" /><br><br>
    <label>Email Id :</label>
    <input id="Text1" type="text" name="emailId" /><br><br>
    <label>Phone No :</label>
    <input id="Text1" type="text" name="phoneNo" /><br><br>
    <input id="Submit1" type="submit" value="submit" />
</form>
</html>
